.main2 {
  margin-top: -500px;
  padding-bottom: 200px;
  position: relative;
  z-index: 5;
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2d2828 49.48%, #2d2828 68.75%, #2d2828 82.29%, #2d2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}
.main2 .main_info p {
  transform: translate(0, 120%);
  opacity: 0.5;
  transition: all 2s ease 0s;
}
.main2 .main_info p._active {
  transform: translate(0, 0);
  opacity: 1;
}
h2 {
  transform: translate(0, 120%);
  opacity: 0.5;
  transition: all 2.2s ease 0s;
}
h2._active {
  transform: translate(0, 0);
  opacity: 1;
}
.teachers {
  width: 90%;
}
.teachers .wrapper_teachers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.teachers .wrapper_teachers .teacher {
  width: 45%;
  min-width: 350px;
  margin-bottom: 20px;
}
.teachers .wrapper_teachers .teacher .teacher_name {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  transform: translate(0, 120%);
  opacity: 0.5;
  transition: all 2s ease 0s;
}
.teachers .wrapper_teachers .teacher .teacher_name img {
  width: 100px;
  border-radius: 50%;
}
.teachers .wrapper_teachers .teacher .teacher_name._active {
  transform: translate(0, 0);
  opacity: 1;
}
.teachers .wrapper_teachers .teacher p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
section.reviews {
  padding: 30px;
}
.slider .slider_item {
  background-color: #554c4a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-right: 10px;
}
.slider .slider_item .review {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.slider .slider_item .review img {
  width: 100px;
  border-radius: 50%;
}
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  left: 3px;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: 3px;
}
/* Стрелка не активная */
/* Точки (булиты) */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: red;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: none;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
}
.slider {
  position: relative;
  padding: 0 50px;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  margin: -30px 0 0 0;
}
.slider .slick-arrow:focus {
  background: inherit;
}
section.questions {
  padding: 30px;
}
.accordion {
  background-color: #605757;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transform: translate(0, 120%);
  opacity: 0.5;
  transition: all 2s ease 0s;
}
.accordion._active {
  transform: translate(0, 0);
  opacity: 1;
}
.activee,
.accordion:hover {
  background-color: #554c4a;
}
.panel {
  padding: 10px 18px;
  background-color: #6b6464;
  display: none;
  overflow: hidden;
}
.main_info h1 {
  transform: translate(0, 120%);
  opacity: 0.5;
  transition: all 2.5s ease 0s;
}
.main_info h1._active {
  transform: translate(0, 0);
  opacity: 1;
}
.main_info h3 {
  transform: translate(0, 120%);
  opacity: 0.5;
  transition: all 2.8s ease 0s;
}
.main_info h3._active {
  transform: translate(0, 0);
  opacity: 1;
}
.tab_courses {
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 6;
}
.tab_courses .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #555;
  border-radius: 20px  20px 0 0;
}
.tablink {
  background-color: inherit;
  color: white;
  border-radius: 20px  20px 0 0;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.tabcontent p.animNone {
  margin-bottom: 20px;
  transform: translate(0, 0);
  opacity: 1;
}
.tabcontent p.animNone span {
  color: red;
}
.tabcontent h2.animNone {
  margin-bottom: 20px;
  transform: translate(0, 0);
  opacity: 1;
}
.tabcontent ul {
  margin-bottom: 30px;
}
.tabcontent ul li {
  margin-bottom: 10px;
  color: #ffffff;
}
#Home {
  background-color: #554c4a;
}
#News {
  background-color: #554c4a;
}
#Contact {
  background-color: #554c4a;
}
@media screen and (max-width: 600px) {
  .tab_courses .flex {
    display: block;
  }
  .tablink {
    width: auto;
    text-align: center;
  }
}
