@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4OWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
/* font-family: 'Lobster', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Russo One', sans-serif; */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  background: url(../images/bg-b1.jpg);
  position: relative;
}
section {
  margin-bottom: 30px;
}
h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
}
h1 {
  font-size: 64px;
  line-height: 89px;
}
h2 {
  font-size: 25px;
  line-height: 35px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  color: #ffffff;
}
li {
  list-style: none;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: .5s;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: red;
}
button {
  padding: 5px 10px;
  border: 2px solid red;
  border-radius: 20px;
  background-color: inherit;
  margin: 10px;
  cursor: pointer;
  transition: .5s;
  color: #fff;
}
button:hover {
  box-shadow: -5px 5px 10px rgba(230, 236, 240, 0.3);
  transform: scale(1.1);
  outline-offset: 0;
  outline: 0;
}
button:active,
button:focus {
  outline-offset: 0;
  outline: 0;
  background-color: red;
}
input {
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: inherit;
  margin: 10px;
}
input:active,
input:hover,
input:focus {
  outline-offset: 0;
  outline: 0;
}
header {
  background: url(../images/bg1.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 8px -5px rgba(0, 0, 0, 0.37);
}
.header {
  width: 100%;
  position: relative;
}
.box-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(22, 23, 22, 0.83);
  height: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  z-index: 6;
}
.box-nav .logo {
  width: 50px;
  height: 50px;
}
.box-nav .logo img {
  width: 100%;
  border-radius: 50%;
}
.box-nav nav.menu {
  padding: 50px 0;
}
.box-nav nav.menu .menu_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-nav nav.menu .menu_list .burger {
  display: none;
}
.box-nav nav.menu .menu_list .menu_link {
  position: relative;
  display: block;
  transition: 1s;
  color: #ffffff;
  margin-right: 30px;
}
.box-nav nav.menu .menu_list .menu_link.active {
  color: #d4be34;
}
.box-nav .menu_list > li:hover .sub-menu_list {
  display: block;
}
.box-nav .check-in {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  right: 40px;
}
.box-nav .check-in #dialog-form {
  display: none;
  background-color: #554c4a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-left: 10px;
  position: fixed;
  z-index: 6;
  top: 30%;
  left: 35%;
  width: 400px;
  height: auto;
}
.box-nav .check-in #dialog-form .validateTips {
  margin-bottom: 10px;
}
.sub-menu_list {
  display: none;
  position: absolute;
  min-width: 100px;
  font-size: 18px;
  line-height: 15px;
}
.sub-menu_list .sub-menu_link {
  display: block;
  color: #ffffff;
  padding: 3px;
}
.main {
  margin: auto;
  margin-top: -500px;
  padding: 20px;
  width: 100%;
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2d2828 49.48%, #2d2828 68.75%, #2d2828 82.29%, #2d2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
}
.main_info {
  width: 100%;
  padding: 30px;
}
.main_info .info_box {
  width: 60%;
}
.main_info .info_box .content {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
.main_info .info_box .content .video #video {
  padding: 50px ;
  width: 100%;
  height: 100%;
  background: rgba(38, 22, 13, 0.7);
  display: none;
  position: fixed;
  text-align: center;
  z-index: 7;
  top: 0;
  left: 0;
}
.main_info .info_box .content .video #video iframe {
  margin-top: 10%;
  width: 60%;
  height: 30vw;
}
.main_info .social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills {
  width: 100%;
}
.skills .wrapper_srills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills .wrapper_srills .skills_info {
  width: 30%;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.5s;
}
.skills .wrapper_srills .skills_info:hover {
  transform: scale(1.1);
}
.skills .wrapper_srills .skills_info img {
  width: 100%;
}
.gallery {
  width: 100%;
}
.gallery .greed_box {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 10vw);
}
.gallery .greed_box .work {
  width: 100%;
  height: 100%;
  transition: .5s;
}
.gallery .greed_box .work:hover {
  transform: scale(1.1);
}
.gallery .greed_box .work img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
}
.gallery .greed_box .work1 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery .greed_box .work2 {
  grid-column: span 1;
  grid-row: span 1;
}
.gallery .greed_box .work3 {
  grid-column: span 1;
  grid-row: span 1;
}
.gallery .greed_box .work4 {
  grid-column: span 1;
  grid-row: span 1;
}
.gallery .greed_box .work5 {
  grid-column: span 1;
  grid-row: span 3;
}
.gallery .greed_box .work6 {
  grid-column: 1;
  grid-row: span 2;
}
.gallery .greed_box .work8 {
  grid-column: 0.75;
  grid-row: span 2;
}
footer {
  padding: 20px 0;
  box-shadow: 0px -20px 8px -5px rgba(0, 0, 0, 0.37);
  background: url(../images/bg-f.jpg);
}
footer .wrapper_foorer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000;
}
footer .wrapper_foorer .logo_footer {
  width: 100px;
}
footer .wrapper_foorer .logo_footer img {
  width: 100%;
  border-radius: 50%;
}
footer .social_logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .social_logo img {
  width: 30px;
  transition: .5s;
}
footer .social_logo img:hover {
  transform: scale(1.1);
}
footer .autor {
  width: 40%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
footer .autor h3 {
  color: #000;
  margin-bottom: 0;
}
footer ul li {
  padding: 5px 0;
}
footer ul li a {
  color: #000;
}
footer h3 {
  color: #000;
  font-weight: bold;
}
.noValid {
  border: 2px solid red;
  background-color: red;
}
#nameValid,
#phoneValid,
#usName,
#usEmail,
#usPassw {
  color: red;
  font-size: 14px;
}
/* Прелоадер */
.preloader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background: #241e1d;
  z-index: 100;
}
.preloader_image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background: url('../images/preloader.gif') no-repeat 50% 50%;
  background-size: 400px;
}
.loaded .preloader {
  display: none;
}
